.hidden{
    display: none;
}

button{
    cursor: pointer;
}

nav button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

button[disabled]{
    cursor: default;
}

#forcedArea {
    margin-top: 100px;
}

#forcedArea {
    cursor: pointer;
}